<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>Air Quality Control</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" [routerLinkActive] = "['Active']" mdbRippleRadius>
                <a class="nav-link" [routerLink] = "['/home']">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </links>
</mdb-navbar>
        