                
<nav class="navbar navbar-expand-lg navbar-dark indigo">
    <a class="navbar-brand" href="#">Air Quality System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Home</a>
            <a [routerLink]="['/map']" class="nav-item nav-link" href="#">Map</a>
            <a [routerLink]="['/data']" class="nav-item nav-link" href="#">Data</a>
            <a [routerLink]="['/settings']" class="nav-item nav-link" href="#">Settings</a>
            <a [routerLink]="['/admin']" class="nav-item nav-link disabled" href="#">Admin Settings</a>
            <a [routerLink]="['/testmap']" class="nav-item nav-link" href="#">TestMap</a>
        </div>
    </div>
</nav>
        