<div class="container" style="margin-top:15px;">
  <div class="row">
    <div class="col-md-1" style="margin-top: 55px;">
      <!--Radio group-->
      <div class="form-check">
        <input class="form-check-input" name="templateCheck" type="radio" id="radio100" [(ngModel)]="templateCheck" [value]="true"
          checked>
        <label class="form-check-label" for="radio100">List View</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" name="templateCheck" type="radio" id="radio101" [(ngModel)]="templateCheck" [value]="false">
        <label class="form-check-label" for="radio101">Map View</label>
      </div>
      <!--Radio group-->
    </div>

    <div *ngIf="templateCheck; then listView else mapView"></div>
    <ng-template #listView>
      <div class="col-md-4">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Room</th>
              <th>{{variable}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let roominfo of rooms; let i = index" (click)="detailedData(rooms[i].room, i)">
              <td>{{roominfo.room}}</td>
              <td [ngStyle]="{'background-color': getColor(variable, getVariable(variable, i))}">{{getVariable(variable, i)}}</td>
            </tr>
          </tbody>
        </table>
        <div style="position:absolute; left:100px; top:450px">
          <img src="../../assets/Legend.PNG" width="300px" height="100px">
        </div>
      </div>
    </ng-template>
    <ng-template #mapView>
      <div class="col-md-5" style="margin-top: -50px; margin-left: -50px;">
        <div style="position:absolute; left: 100px; top: 100px;
                    height:100px; width: 100px;" [ngStyle]="{'background-color': getColor(variable, getVariable(variable, 0))}" class="Rooms"
          (click)="detailedData(rooms[0].room, 0)">

          <p>101</p>
        </div>
        <div style="position:absolute; left: 199px; top: 100px;
                    height:150px; width: 150px;" [ngStyle]="{'background-color': getColor(variable, getVariable(variable, 1))}" class="Rooms"
          (click)="detailedData(rooms[1].room, 1)">

          <p>102</p>
        </div>
        <div style="position:absolute; left: 100px; top: 280px;
                    height:100px; width: 100px;" [ngStyle]="{'background-color': getColor(variable, getVariable(variable, 2))}" class="Rooms"
          (click)="detailedData(rooms[2].room, 2)">

          <p>103</p>
        </div>
        <div style="position:absolute; left: 199px; top: 280px;
                    height:100px; width: 150px;" [ngStyle]="{'background-color': getColor(variable, getVariable(variable, 3))}" class="Rooms"
          (click)="detailedData(rooms[3].room, 3)">

          <p>104</p>
        </div>
        <div style="position:absolute; left: 348px; top: 100px;
                    height:280px; width: 100px;" [ngStyle]="{'background-color': getColor(variable, getVariable(variable, 4))}" class="Rooms"
          (click)="detailedData(rooms[4].room, 4)">

          <p>105</p>
        </div>
        <div style="position:absolute; left:100px; top:450px">
          <img src="../../assets/Legend.PNG" width="300px" height="100px">
        </div>
      </div>
    </ng-template>

    <div class="col-md-2" style="margin-top: 55px;">
      <!--Radio group-->
      <div class="form-group">
        <input name="102" type="radio" class="with-gap" [(ngModel)]="variable" value="temperature" id="radio106" checked>
        <label for="radio106">Temperature</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" [(ngModel)]="variable" value="humidity" id="radio107">
        <label for="radio107">Humidity</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" [(ngModel)]="variable" value="co2level" id="radio110">
        <label for="radio110">CO2</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" [(ngModel)]="variable" value="soundlevel" id="radio108">
        <label for="radio108">Sound</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" [(ngModel)]="variable" value="illuminance" id="radio109">
        <label for="radio109">Illuminance</label>
      </div>

      <!--Radio group-->
    </div>
    <div class="col-md-4" style="margin-top: 55px;">
      <ul class="list-group" *ngFor="let roominfo of rooms; let i = index" [hidden]="roominfo.hide">
        <li class="list-group-item active">
          {{roominfo.room}}
        </li>
        <li class="list-group-item li-fix">
          <div class="row">
            <div class="col-md-8">
              Temperature
            </div>
            <div class="col-md-4">
              {{roominfo.temperature}}°c
            </div>
          </div>
        </li>
        <li class="list-group-item li-fix">
          <div class="row">
            <div class="col-md-8">
              Humidity
            </div>
            <div class="col-md-4">
              {{roominfo.humidity}}%
            </div>
          </div>
        </li>
        <li class="list-group-item li-fix">
          <div class="row">
            <div class="col-md-8">
              CO2-level
            </div>
            <div class="col-md-4">
              {{roominfo.co2level}} ppm
            </div>
          </div>
        </li>
        <li class="list-group-item li-fix">
          <div class="row">
            <div class="col-md-8">
              Sound-level
            </div>
            <div class="col-md-4">
              {{roominfo.soundlevel}} dB
            </div>
          </div>
        </li>
        <li class="list-group-item li-fix">
          <div class="row">
            <div class="col-md-8">
              Illuminance
            </div>
            <div class="col-md-4">
              {{roominfo.illuminance}} lux
            </div>
          </div>
        </li>
        <li class="list-group-item">
          Warning:
          <!-- {{warnings.temperature.high}} -->
        </li>
      </ul>
    </div>
  </div>
</div>