<div class="container">
  <div class="row">
    <div>
        <ul class="list-group">
            <li class="list-group-item">Room 101</li>
            <li class="list-group-item">Room 102</li>
            <li class="list-group-item">Room 103</li>
            <li class="list-group-item">Room 104</li>
            <li class="list-group-item">Room 105</li>
          </ul>
    </div>
    <div class="col">
      <!--Radio group-->
      <div class="form-group">
        <input name="102" type="radio" class="with-gap" id="radio106" checked>
        <label for="radio106">Temperature</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" id="radio107">
        <label for="radio107">Humidity</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" id="radio108">
        <label for="radio108">Sound</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" id="radio109">
        <label for="radio109">Illuminance</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" id="radio110">
        <label for="radio110">CO2</label>
      </div>
      <!--Radio group-->
    </div>
    <div class="col">
      <app-detailed-data></app-detailed-data>
    </div>
  </div>
</div>