.floatright-fix{
    float: right;
}
.offset-fix{
    margin-top: -200px;
    margin-right: -50px;
}
.Rooms{
    display:flex;
    align-items:center;
    justify-content:center;
    color:black;
    border:1px solid rgb(124, 124, 124);
    cursor:pointer;
}

.Rooms:hover{
    border:1px solid #333;
    z-index: 99;
}