<div class="container" style="margin-top:15px;">
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item" [ngStyle]="{'background-color': getColor(22)}">Room 101</li>
        <li class="list-group-item">Room 102</li>
        <li class="list-group-item">Room 103</li>
        <li class="list-group-item">Room 104</li>
        <li class="list-group-item">Room 105</li>
      </ul>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Room</th>
            <th>Temperature</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roominfo of rooms">
            <td>{{roominfo.room}}</td>
            <td [ngStyle]="{'background-color': getColor(roominfo.temperature)}">{{roominfo.temperature}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <!--Radio group-->
      <div class="form-group">
        <input name="102" type="radio" class="with-gap" id="radio106" checked>
        <label for="radio106">Temperature</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" id="radio107">
        <label for="radio107">Humidity</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" id="radio108">
        <label for="radio108">Sound</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" id="radio109">
        <label for="radio109">Illuminance</label>
      </div>

      <div class="form-group">
        <input name="102" type="radio" class="with-gap" id="radio110">
        <label for="radio110">CO2</label>
      </div>
      <!--Radio group-->
    </div>
    <div class="col">
      <app-detailed-data></app-detailed-data>
    </div>
  </div>
</div>