<div class="containter" style="margin:20px 40px;">
  <div class="row">
    <div class="col-3" style="padding:30px;">
      <div class="row">
        <div class="col">
          <form>
            <input name="room" type="radio" [(ngModel)]="sensorid" [value]="0" checked>
            <label for="radio1">Sensor 1</label><br>
            
            <input name="room" type="radio" [(ngModel)]="sensorid" [value]="1">
            <label for="radio2">Sensor 2</label><br>

            <input name="room" type="radio" [(ngModel)]="sensorid" [value]="2">
            <label for="radio3">Sensor 3</label><br>

            <input name="room" type="radio" [(ngModel)]="sensorid" [value]="3">
            <label for="radio4">Sensor 4</label><br>

            <input name="room" type="radio" [(ngModel)]="sensorid" [value]="4">
            <label for="radio5">Sensor 5</label><br>

            <input name="room" type="radio" [(ngModel)]="sensorid" [value]="5">
            <label for="radio6">Sensor 6</label><br>
          </form>
        </div>
        <div class="col">
          <form>
            <input name="parameter" type="radio" value="temperature" (click)="loadData('temperature', sensorid)" checked>
            <label for="temperature" (click)="loadData('temperature', 'sensorid')">Temperature</label><br>
            
            <input name="parameter" type="radio" (click)="loadData('humidity', sensorid)" value="humidity">
            <label for="humidity" (click)="loadData('humidity, sensorid')">Humidity</label><br>
            
            <input name="parameter" type="radio" value="co2-level" (click)="loadData('co2-level', sensorid)">
            <label for="co2-level" (click)="loadData('co2-level', 'sensorid')">CO2-level</label><br>

            <input name="parameter" type="radio" value="sound-level" (click)="loadData('sound-level', sensorid)">
            <label for="sound-level" (click)="loadData('sound-level, sensorid')">Sound-level</label><br>

            <input name="parameter" type="radio" value="illumination" (click)="loadData('illumination', sensorid)">
            <label for="illumination" (click)="loadData('illumination, sensorid')">Illumination</label>
          </form>
        </div>
      </div>
      <ul class="list-group">
          <li class="list-group-item active">
            Averages
            <button style="float:right; margin:0px;" class="btn btn-primary btn-sm" (click)="getAverages(sensorid)">Load Averages</button>
          </li>
          <li class="list-group-item li-fix">
            <div class="row">
              <div class="col-md-7">
                Temperature
              </div>
              <div class="col-md-5">
                {{averages[0].temperature}}°c
              </div>
            </div>
          </li>
          <li class="list-group-item li-fix">
            <div class="row">
              <div class="col-md-7">
                Humidity
              </div>
              <div class="col-md-5">
                {{averages[0].humidity}}%
              </div>
            </div>
          </li>
          <li class="list-group-item li-fix">
            <div class="row">
              <div class="col-md-7">
                CO2-level
              </div>
              <div class="col-md-5">
                {{averages[0].co2}} ppm
              </div>
            </div>
          </li>
          <li class="list-group-item li-fix">
            <div class="row">
              <div class="col-md-7">
                Sound-level
              </div>
              <div class="col-md-5">
                {{averages[0].sound}} dB
              </div>
            </div>
          </li>
          <li class="list-group-item li-fix">
            <div class="row">
              <div class="col-md-7">
                Illuminance
              </div>
              <div class="col-md-5">
                {{averages[0].light}} lux
              </div>
            </div>
          </li>
        </ul>
    </div>

    <!-- Start of left collumn: graph showcase -->

    <div class="col-9">
      <script src="..\..\..\node_modules\chart.js\src\chart.js"></script>
      <div style="display: block;">
        <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>