<div class="containter" style="margin:20px 40px;">
  <div class="row">
    <div class="col-3" style="padding:30px;">
      <div class="row">
        <div class="col">
          <form>
            <input name="room" type="radio" value="room1" checked>
            <label for="radio1">Room 1</label><br>
            
            <input name="room" type="radio" value="room2">
            <label for="radio2">Room 2</label><br>

            <input name="room" type="radio" value="room3">
            <label for="radio3">Room 3</label>
          </form>
        </div>
        <div class="col">
          <form>
            <input name="parameter" type="radio" value="temperature" (click)="loadData('temperature')" checked>
            <label for="temperature" (click)="loadData('temperature')">Temperature</label><br>
            
            <input name="parameter" type="radio" (click)="loadData('humidity')" value="humidity">
            <label for="humidity" (click)="loadData('humidity')">Humidity</label><br>
            
            <input name="parameter" type="radio" value="co2-level" (click)="loadData('co2-level')">
            <label for="co2-level" (click)="loadData('co2-level')">CO2-level</label><br>

            <input name="parameter" type="radio" value="sound-level" (click)="loadData('sound-level')">
            <label for="sound-level" (click)="loadData('sound-level')">Sound-level</label><br>

            <input name="parameter" type="radio" value="illumination" (click)="loadData('illumination')">
            <label for="illumination" (click)="loadData('illumination')">Illumination</label>
          </form>
        </div>
      </div>
    </div>

    <!-- Start of left collumn, graph and table showcase -->

    <div class="col-9">
      <script src="..\..\..\node_modules\chart.js\src\chart.js"></script>
      <!--<div class="col-md-6" style="margin:0px auto;">-->
        <div style="display: block;">
          <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
        <button (click)="loadData()">Load data</button><br><br>
      <!--</div>-->
      
      <!-- table view of the randomized data -->
      <div style="margin:0px auto;">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Detailed data information -->
    <div class="col-md-3" style="margin-top: -500px;">
        <ul class="list-group">
          <li class="list-group-item active">
            Averages
            <button style="float:right" (click)="getAverages()">Load Averages</button>
          </li>
          <li class="list-group-item li-fix">
            <div class="row">
              <div class="col-md-8">
                Temperature
              </div>
              <div class="col-md-4">
                {{averages[0].temperature}}°c
              </div>
            </div>
          </li>
          <li class="list-group-item li-fix">
            <div class="row">
              <div class="col-md-8">
                Humidity
              </div>
              <div class="col-md-4">
                {{averages[0].humidity}}%
              </div>
            </div>
          </li>
          <li class="list-group-item li-fix">
            <div class="row">
              <div class="col-md-8">
                CO2-level
              </div>
              <div class="col-md-4">
                {{averages[0].co2}} ppm
              </div>
            </div>
          </li>
          <li class="list-group-item li-fix">
            <div class="row">
              <div class="col-md-8">
                Sound-level
              </div>
              <div class="col-md-4">
                {{averages[0].sound}} dB
              </div>
            </div>
          </li>
          <li class="list-group-item li-fix">
            <div class="row">
              <div class="col-md-8">
                Illuminance
              </div>
              <div class="col-md-4">
                {{averages[0].light}} lux
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>
</div>