<div *ngFor="let dt of data">
  <div style="position:absolute; left: 100px; top: 100px;
        height:100px; width: 100px;" [ngStyle]="{'background-color': getColor(dt.temperature)}" class="Rooms" (click)="detailedData(101)">
    <p>101</p>
  </div>
  <div style="position:absolute; left: 199px; top: 100px;
        height:150px; width: 150px;" [ngStyle]="{'background-color': getColor(dt.temperature)}" class="Rooms" (click)="detailedData(102)">

    <p>102</p>
  </div>
  <div style="position:absolute; left: 100px; top: 280px;
        height:100px; width: 100px;" [ngStyle]="{'background-color': getColor(dt.temperature)}" class="Rooms" (click)="detailedData(103)">

    <p>103</p>
  </div>
  <div style="position:absolute; left: 199px; top: 280px;
        height:100px; width: 150px;" [ngStyle]="{'background-color': getColor(dt.temperature)}" class="Rooms" (click)="detailedData(104)">

    <p>104</p>
  </div>
  <div style="position:absolute; left: 348px; top: 100px;
        height:280px; width: 100px;" [ngStyle]="{'background-color': getColor(dt.temperature)}" class="Rooms" (click)="detailedData(105)">

    <p>105</p>
  </div>

  <div style="position:absolute; right:100px; margin-top:20px;
                width:400px;" [hidden]="dt.hide">
    <ul class="list-group">
      <li class="list-group-item active">
        {{dt.room}}
      </li>
      <li class="list-group-item li-fix">
          <div class="col-md-8">
            Temperature
          </div>
          <div class="col-md-4" [ngStyle]="{'background-color': getColor(dt.temperature)}">
            {{dt.temperature}}°C
          </div>
      </li>
      <li class="list-group-item li-fix">
        <div class="row">
          <div class="col-md-8">
            Humidity
          </div>
          <div class="col-md-4">
            {{dt.humidity}}%
          </div>
        </div>
      </li>
      <li class="list-group-item li-fix">
        <div class="row">
          <div class="col-md-8">
            CO2-level
          </div>
          <div class="col-md-4">
            {{dt.co2}} ppm
          </div>
        </div>
      </li>
      <li class="list-group-item li-fix">
        <div class="row">
          <div class="col-md-8">
            Sound-level
          </div>
          <div class="col-md-4">
            {{dt.sound}} dB
          </div>
        </div>
      </li>
      <li class="list-group-item li-fix">
        <div class="row">
          <div class="col-md-8">
            Illuminance
          </div>
          <div class="col-md-4">
            {{dt.illuminantie}} lux
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>