<div style=
        "position:absolute; left: 100px; top: 100px;
        height:100px; width: 100px;"
     class="Rooms">
        <p>101</p>
</div>
<div style=
        "position:absolute; left: 199px; top: 100px;
        height:150px; width: 150px;"
     class="Rooms">
    
     <p>102</p>
</div>
<div style=
        "position:absolute; left: 100px; top: 280px;
        height:100px; width: 100px;"
     class="Rooms">
    
     <p>103</p>
</div>
<div style=
        "position:absolute; left: 199px; top: 280px;
        height:100px; width: 150px;"
     class="Rooms">
    
     <p>104</p>
</div>
<div style=
        "position:absolute; left: 349px; top: 100px;
        height:280px; width: 100px;"
     class="Rooms">
    
     <p>105</p>
</div>