<div class="container" style='margin-top:15px;'>

  <div *ngFor="let room of rooms">
    <div class="card">
      <div class="card-header primary-color white-text" style="padding:0.40rem 1.25rem; padding-bottom: 0.28rem;">{{room.room}}</div>
      <div class="card-body">
        <!--Table-->
        <table class="table table-bordered">

          <!--Table head-->
          <thead>
            <tr>
              <th>Settings</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>CO2-level</th>
              <th>Sound-level</th>
              <th>Illuminance</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr>
              <th scope="row">Preferred:</th>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> °c</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> %</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> ppm</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> dB</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> Lux</td>
            </tr>
            <tr>
              <th scope="row">Max:</th>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> °c</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> %</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> ppm</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> dB</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> Lux</td>
            </tr>
            <tr>
              <th scope="row">Min:</th>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> °c</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> %</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> ppm</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> dB</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='21' name=''> Lux</td>
            </tr>
          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->
      </div>
    </div>
    <br>
  </div>

  <button type="button" class="btn btn-info">Update settings</button>
  <button type="button" class="btn btn-warning">Reset all settings</button>
  <a [routerLink]="['/map']" href="#">
    <button type="button" class="btn btn-danger">Cancel</button>
  </a>
  <br>
  <br>
</div>