<div class="container" style='margin-top:15px;'>

  <div class="card">
    <div class="card-body" style="padding:4px;">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span style="color:#999; font-size:12px;">To disable a warning threshold, enter -1</span>
    </div>
  </div>
  <br>
  <div *ngFor="let room of rooms; let i = index">
    <div class="card">
      <div id={{room.id}} class="card-header primary-color white-text" style="padding:0.40rem 1.25rem; padding-bottom: 0.28rem;">{{room.room}}</div>
      <div class="card-body">
        <!--Table-->
        <table class="table table-bordered">

          <!--Table head-->
          <thead>
            <tr>
              <th>Settings</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>CO2-level</th>
              <th>Sound-level</th>
              <th>Illuminance</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr>
              <th scope="row">Preferred:</th>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.temperature.preferred}}' name=''>°c</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.humidity.preferred}}' name=''> %</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.co2level.preferred}}' name=''> ppm</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.soundlevel.preferred}}' name=''> dB</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.illuminance.preferred}}' name=''> Lux</td>
            </tr>
            <tr>
              <th scope="row">Max:</th>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.temperature.max}}' name=''> °c</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.humidity.max}}' name=''> %</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.co2level.max}}' name=''> ppm</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.soundlevel.max}}' name=''> dB</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.illuminance.max}}' name=''> Lux</td>
            </tr>
            <tr>
              <th scope="row">Min:</th>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.temperature.min}}' name=''> °c</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.humidity.min}}' name=''> %</td>
              <td>
                </td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.soundlevel.min}}' name=''> dB</td>
              <td>
                <input type='textbox' size='2' maxlength='4' value='{{room.settings.illuminance.min}}' name=''> Lux</td>
            </tr>
            <tr>
              <th scope="row">Adjustments</th>
              <td colspan="5">
                <button type="button" class="btn  btn-primary btn-sm" style="margin:0px;" (click)="Reset(rooms[i].id)">Reset Room {{room.id}} settings</button>
                <button type="button" class="btn  btn-primary btn-sm" style="margin:0px;" (click)="Update(rooms[i].id)">Save Room {{room.id}} settings</button>
              </td>
            </tr>
          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->
      </div>
    </div>
    <br>
  </div>

  <button type="button" class="btn btn-info">Update settings</button>
  <button type="button" class="btn btn-warning" (click)="ResetAll()" >Reset all settings</button>
  <a [routerLink]="['/map']" href="#">
    <button type="button" class="btn btn-danger">Cancel</button>
  </a>
  <br>
  <br>
</div>